.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #201f1f;
}

.container {
  background: #8e6565;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.range-inputs {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.range-inputs div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  border-block-start-color: #003c7c;
}

.number {
  font-size: 2em;
  margin-top: 20px;
  color: #333;
}

footer {
  margin-top: 20px;
}

footer a {
  color: #007bff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
